<title>{{appTitle}}</title>
<nav class="navbar">
  <span class="nav-logo">Todos App</span>
  <a class="nav-link-left" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
  <a class="nav-link-left" routerLink="/users" routerLinkActive="active">Users</a>
  <a class="nav-link-left" routerLink="/todos" routerLinkActive="active">Todos</a>
</nav>
<div class="main-container">
  <div class="container">
    <h1>{{ appTitle }}</h1>
    <router-outlet></router-outlet>
    <!-- <app-todos></app-todos> -->
  </div>
  <button class="sidebar-btn" (click)="showSidebar()">Sidebar</button>
</div>
